/*** Text formating ***/
* {
    color: white;
    background-color: black;
    font-family: 'League Spartan'
}

body {
    margin: 0;
}

p {
    text-align: justify;
}

.centre-text {
    text-align: center;
}

.figure-caption {
    font-size: 90%;
}

.nav-link {
    display: block;
    color: white;
    padding: 10px;
}

.nav-link:visited {
    color:white;
    padding: 10px;
}

a:link {
    color: lightyellow;
    text-decoration: none;
}
a:visited {
    color: lightyellow;
}

/*** Layout formating ***/
div.centering {
    max-width: 1000px;
    min-width: 400px;
    margin: auto;
}

.two2one-columns {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 1fr auto 0.2fr;
    gap: 10px;
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.loop-columns {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 10px;
}

.intro-video {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column: 2;
}

.driving-rig-video {
    width: 100%;
}

/*** Nav bar formatting ***/
.top-bar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.left-nav {
    display: flex;
    align-items: center;
}

.centre-nav {
    flex-grow: 1;
}

.right-nav {
    display: block flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-list-item {
    display: contents;
}
    