* {
    color: white;
    background-color: black;
}

body {
    font-family: 'League Spartan';
}


div.centering {
    max-width: 1200px;
    min-width: 400px;
    margin: auto;
}

div.inline-video {
    display : flex;
    flex-direction: row;
}

  
.embedded-media {
    border: 2px dotted rgb(96 139 168);
    display: flex;
    align-items: flex-start;
}

.embedded-media .text {
    flex: 0;
    padding: 10px;
}

.embedded-media .video {
    flex: 1;
    padding: 10px;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
}

a.nav-link:link {
    color: white;
}

a.nav-link:visited {
    color:white;
}

a:link {
    color: lightyellow;
    text-decoration: none;
}
a:visited {
    color: lightyellow;
}

li.split {
    float: left;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  





    