* {
    color: white;
    background-color: black;
}

img.vertical-centre {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

body {
    font-family: 'League Spartan';
}


div.centering {
    /*
    display: inline-block;
    text-align: left;
    */
    max-width: 1200px;
    min-width: 400px;
    /*width: 1200px;*/
    margin: auto;
}

div.inline-video {
    display : flex;
    flex-direction: row;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*
    background-color: white;
    */
}

li {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li.split {
    float: left;
}
/*
li a {
display: block;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}*/





    